<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <header>
            <section class="superior">
                <div class="busqueda_logo">
                    <div class="cLogo">
                        <img id="logo" src="images/logo-mercado-liebre.svg" alt="logo_mercado_liebre">
                    </div>
                    <div class="busqueda">
                        <input id="iBusqueda" type="search" placeholder="Busqueda" />
                        <button id="bBusqueda" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="compraCuotas">
                    <p> <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjetas</p>
                </div>
            </section>
            <nav class="navar">
                <ul class="lista1">
                    <li>
                        <a href="#" class="linkLista">Ofertas</a>
                    </li>
                    <li>
                        <a href="#">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="#">Vender</a>
                    </li>
                    <li>
                        <a href="#">Ayuda</a>
                    </li>
                </ul>
    
                <ul class="lista2">
                        <li>
                            <a href="register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                        </li>
                        <li>
                            <a href="./login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                        </li>
                        <li>
                            <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
                        </li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </header>
        <main>
            <form class="formularioLogin">
                <h2 class="titulo">Login</h2>
                <div class="itemLogin"><label for="nombreUsuario">Nombre de Usuario:</label><br>
                    <input type="text" id="nombreUsuario" name="nombre-usuario" required><br>
                </div>
                <div class="itemLogin"><label for="contrasena">Contraseña:</label><br>
                    <input type="password" id="contrasena" name="contrasena" required><br>
                </div>
                
                <button type="submit" class="buttonLogin">Enviar</button>

            </form>
        </main>
        <footer>
            <section class="footer_1">
                <section class="itemf">
                    <i class="icono fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Con Merc Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </section>
                <section class="itemf">
                    <i class="icono fas fa-gift"></i>
                    <h2>Envío gratis desde $ 2.500</h2>
                    <p>Solo por estar registrad@ en Merc tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </section>
                <section class="itemf">
                    <i class="icono fas fa-user-shield"></i>
                    <h2>Seguridad, de principio a fin</h2>
                    <p>¿No te gusta? ¡Devolvelo! En Merc, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </section>
            </section>
            
            <section>
                <h5 style="color: #3a3636; margin: 10px;text-align: center;">Copyright © 1999-2020 Mercado Liebre S.R.L.</h5>
            </section>
        </footer>
    </body>
</html>    