* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

header {
    background-color: #eac926;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.busqueda_logo{
    display: flex;
    margin-left: 4%;
    margin-right: 5%;
}

#logo{
    width: 150%
}
#iBusqueda{
    border: 1px solid #ebebeb;
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 16px;
}
.busqueda{
    margin-left: 500px;
    display: flex;
    height: 30px;
    width: 600px;
    margin-top: auto;
    margin-bottom: auto;
}
#bBusqueda{
    padding: 0.5rem;
}
#bBusqueda i{
    color: #666;
    border-radius: 2px;
}

.compraCuotas{
    text-align: center;
    flex-basis: 30%;
    margin: 20px 0px;
}

.navar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px;
    font-size: 120%;
}

.navar a{
    text-decoration: none;
    color: black;
}
.navar ul{
    list-style-type: none;
}
.navar ul li{
    display: inline;
    margin: 10px;
}
.navar li{
    padding: 5px;
}

/*articulos*/
.articulo{
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    background-color: rgb(255, 255, 255);
    transition: all 1s ease;
    border-style:solid;
    border-width: 2px;
    border-color: black;
}
main img{
    width: 60%;
    
}
.ofertas {
    display: flex;
    margin: 10px;
}
.ultima_visita{
    display: flex;
    margin: 10px;
}
.text_nombre{
    visibility: hidden;
    transition: all 1s ease;
}
.articulo:hover .text_nombre{
    visibility: visible;
}
.articulo:hover{
    transform: scale(1.1);
}
main h1{
    padding: 20px;
}
main{

    background: linear-gradient(0deg,#88b3fc 0%, white 100%);
}

footer{
    background: #88b3fc;
    height: 200px
}
.footer_1{
    padding-top: 70px;
    display: flex;
}
.itemf{
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
    margin-bottom: 35px;
}
